version: 2.1
executors:
  debian11-amd64:
    docker:
      - image: amd64/debian:bullseye
    resource_class: medium
  debian11-arm64:
    docker:
      - image: arm64v8/debian:bullseye
    resource_class: arm.medium
  debian12-amd64:
    docker:
      - image: amd64/debian:bookworm
    resource_class: medium
  debian12-arm64:
    docker:
      - image: arm64v8/debian:bookworm
    resource_class: arm.medium
  debian12-arm32:
    docker:
      - image: arm32v7/debian:bookworm
    resource_class: arm.medium
  debian13-amd64:
    docker:
      - image: amd64/debian:trixie
    resource_class: medium
  debian13-arm64:
    docker:
      - image: arm64v8/debian:trixie
    resource_class: arm.medium
  debian13-arm32:
    docker:
      - image: arm32v7/debian:trixie
    resource_class: arm.medium
  fedora41-amd64:
    docker:
      - image: amd64/fedora:41
    resource_class: medium
  fedora42-amd64:
    docker:
      - image: amd64/fedora:42
    resource_class: medium
  fedora43-amd64:
    docker:
      - image: amd64/fedora:43
    resource_class: medium
  windows-amd64:
    machine:
      # image: windows-server-2025-gui:current
      image: windows-server-2025-gui:current
      resource_class: windows.medium
      shell: powershell.exe -ExecutionPolicy Bypass

commands:
  install_dependencies_debian:
    steps:
      - run:
          name: Enable backports on bullseye
          command: |
            . /etc/os-release
            [ $VERSION_ID = 11 ] && echo "deb http://archive.debian.org/debian bullseye-backports main" >/etc/apt/sources.list.d/backports.list
            apt update
      - run:
          name: Install dependencies
          command: |
            apt upgrade -y
            apt install -y \
              git clang cmake curl fakeroot fontconfig gstreamer1.0-alsa gstreamer1.0-libav \
              gstreamer1.0-plugins-bad gstreamer1.0-plugins-base gstreamer1.0-plugins-good gstreamer1.0-plugins-ugly \
              libdrm-dev libegl1-mesa-dev libgbm-dev libgl1-mesa-dev libgles2-mesa-dev libglu1-mesa libgstreamer1.0-dev \
              libgstreamer-plugins-bad1.0-dev libgstreamer-plugins-base1.0-dev libgstreamer1.0-dev libgtk-3-dev \
              libinput-dev liblzma-dev libsystemd-dev libudev-dev libvulkan-dev libxkbcommon-dev m4 ninja-build \
              pkg-config unzip wget xz-utils zip libseat-dev
            apt install -y libstdc++-12-dev || true
  install_dependencies_fedora:
    steps:
      - run:
          name: Install dependencies
          command: |
            dnf install -y util-linux git which awk rpmbuild clang cmake curl fakeroot fontconfig gstreamer1-devel \
              gstreamer1-plugins-bad-free gstreamer1-plugins-good gstreamer1-plugins-base gstreamer1-plugins-base-devel mesa-libGLU-devel  gtk3-devel \
              libinput-devel lzma-sdk-devel systemd-devel libudev-devel libxkbcommon-devel m4 ninja-build \
              pkg-config unzip wget xz libseat-devel
  setup:
    steps:
      - run:
          name: Create user
          command: useradd -m build
      - run:
          name: Create artifact dir
          command: su - build -c "mkdir /tmp/artifacts"
      - checkout:
          path: /home/build/package-release
      - run:
          name: Check for new versions
          command: su - build -c "/home/build/package-release/.circleci/check"
  install_flutter:
    steps:
      - run:
          name: Install Flutter
          command: su - build -c "/home/build/package-release/.circleci/install_flutter"
  package_bi:
    steps:
      - run:
          name: Package Boatinstrument
          command: su - build -c "/home/build/package-release/.circleci/package_bi ${ARCH} ${CPUS}"
  package_fpi:
    steps:
      - run:
          name: Package flutter-pi
          command: su - build -c "/home/build/package-release/.circleci/package_fpi"
  update_versions:
    steps:
      - run:
          name: Update versions
          command: /home/build/package-release/.circleci/update-versions
  store:
    steps:
      - store_artifacts:
          path: /tmp/artifacts
  full_build_debian:
    steps:
      - install_dependencies_debian
      - setup
      - install_flutter
      - package_bi
      - package_fpi
      - store
  full_build_fedora:
    steps:
      - install_dependencies_fedora
      - setup
      - install_flutter
      - package_bi
      - store
  setup_win:
    steps:
      # - run:
      #     name: Create user
      #     command: useradd -m build
      # - run:
      #     name: Create artifact dir
      #     command: su - build -c "mkdir /tmp/artifacts"
      - checkout:
          path: /home/build/package-release
      # - run:
      #     name: Check for new versions
      #     command: su - build -c "/home/build/package-release/.circleci/check"
  install_flutter_win:
    steps:
      - run:
          name: Install Flutter Win
          command: |
            Write-Host 'Hello, Windows'
            choco install flutter --version=3.35.4
            refreshenv
            flutter doctor -v

jobs:
  debian11-amd64:
    executor: debian11-amd64
    environment:
      - CPUS: generic
    steps:
      - full_build_debian
  debian11-arm64:
    executor: debian11-arm64
    environment:
      - CPUS: generic pi3 pi4
    steps:
      - full_build_debian
  debian12-amd64:
    executor: debian12-amd64
    environment:
      - CPUS: generic
    steps:
      - full_build_debian
  debian12-arm64:
    executor: debian12-arm64
    environment:
      - CPUS: generic pi3 pi4
    steps:
      - full_build_debian
  debian12-arm32-bi:
    executor: debian12-arm64
    environment:
      - CPUS: generic
      - ARCH: arm
    steps:
      - install_dependencies_debian
      - setup
      - install_flutter
      - package_bi
      - store
  debian12-arm32-fpi:
    executor: debian12-arm32
    steps:
      - install_dependencies_debian
      - setup
      - package_fpi
      - store
  debian13-amd64:
    executor: debian13-amd64
    environment:
      - CPUS: generic
    steps:
      - full_build_debian
  debian13-arm64:
    executor: debian13-arm64
    environment:
      - CPUS: generic pi3 pi4
    steps:
      - full_build_debian
  debian13-arm32-bi:
    executor: debian13-arm64
    environment:
      - CPUS: generic
      - ARCH: arm
    steps:
      - install_dependencies_debian
      - setup
      - install_flutter
      - package_bi
      - store
  debian13-arm32-fpi:
    executor: debian13-arm32
    steps:
      - install_dependencies_debian
      - setup
      - package_fpi
      - store
  fedora41-amd64:
    executor: fedora41-amd64
    steps:
      - full_build_fedora
  fedora42-amd64:
    executor: fedora42-amd64
    steps:
      - full_build_fedora
  fedora43-amd64:
    executor: fedora43-amd64
    steps:
      - full_build_fedora
  windows-amd64:
    executor: windows-amd64
    steps:
      - setup_win
      - install_flutter_win
  record_versions:
    executor: debian12-amd64
    steps:
      - setup
      - update_versions

workflows:
  build:
    jobs:
      # - debian11-amd64
      # - debian11-arm64
      # - debian12-amd64
      # - debian12-arm64
      # - debian12-arm32-bi
      # - debian12-arm32-fpi
      # - debian13-amd64
      # - debian13-arm64
      # - debian13-arm32-bi
      # - debian13-arm32-fpi
      # - fedora41-amd64
      # - fedora42-amd64
      # - fedora43-amd64
      - windows-amd64
      # - record_versions:
      #     requires:
      #       - debian11-amd64
      #       - debian11-arm64
      #       - debian12-amd64
      #       - debian12-arm64
      #       - debian12-arm32-bi
      #       - debian12-arm32-fpi
      #       - fedora41-amd64
      #       - fedora42-amd64
